table {
    border-collapse: collapse;
    border: 4px double black;
    border-radius: 20px;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th{
    background-color: #77dd77;
    border: 4px double black;
    padding: 8px;
    font-style: italic;

}

td {
    border: 4px double black;
    padding: 8px;
}

.programacion{
    background-color: #ff6961;
}

.circuitos{
    background-color: #84b6f4;
}

.sociales{
    background-color: #fdfd96;
}

